# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
prv.py

# Python:
# *.py[cod]
*.so
*.egg
*.egg-info
dist
idea
build
__pycache__

# My configurations:
pyzohar/.idea
pyzohar/.idea/*
.idea
.idea/*
.idea/misc.xml
.idea/pyzohar.iml
db.ini
deploy_key_rsa
