# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
*.pptx
*.xlsx
*.ipynb

# Python:
*.so
*.egg
*.egg-info
dist
venv
idea
build
__pycache__

# My configurations:
dist/*
build/*
pyzohar/.idea
pyzohar/.idea/*
.idea
.idea/*
.idea/misc.xml
.idea/pyzohar.iml
.ipynb_checkpoints
.ipynb_checkpoints/*
db.ini
deploy_key_rsa
