# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.so
*.egg
*.egg-info
dist
venv
idea
build
__pycache__
tst.ipynb

# My configurations:
dist/*
build/*
pyzohar/.idea
pyzohar/.idea/*
.idea
.idea/*
.idea/misc.xml
.idea/pyzohar.iml
db.ini
deploy_key_rsa
